<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FrameW</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

    <div class="container p-5">
      <h1>Un Framework: es una estructura previa que se puede aprovechar para desarrollar un proyecto</h1>
    </div>

    <% include partials/footer %>
  </body>
</html>
