<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <% include partials/head %>
<body>
  <% include partials/navigation %>
  <h1>Hola Bienvenidos a Mi Pagina Web</h1>
  <h1>Felizardo Medina Gonzalez #19041034</h1>

  </body>
</html>
